:root {
    --blinking-interval: 1;
    --blinking-state: 'running';
}

body{ 
    background: #0f0c29;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

button {
    border-style: none;
    border-color: white;
    width: 25%;
    height: 50px;
    margin: 10px;
    border-radius: 10px;;
    font-size: x-large;
    color: white;
    background: none;
}

.start:hover {
    background: green;
    transition: 0.2s;
    box-shadow:0 0 50px green
}

.stop:hover {
    background: red;
    transition: 0.2s;
    box-shadow:0 0 50px red
}

.lights {
    margin-top: 200px;
    display: flex;
    justify-content:space-around;
}

.bulb {
    width: 50px;
    height: 50px;
    background: white;
    border-radius: 25px;

}

.controls {
    margin-top: 200px;
    display: flex;
    justify-content:center;
}

.interval-time {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.blinking {
    animation: blinker calc(var(--blinking-interval)*1s) ease-in-out infinite;
    animation-play-state: var(--blinking-state);
}

.blinking-delay {
    animation: blinker calc(var(--blinking-interval)*1s) ease-in-out infinite;
    animation-delay: calc(var(--blinking-interval)*0.5s);
    animation-play-state: var(--blinking-state);
}

@keyframes blinker {
    50% { opacity: 0.2; }

}

.red {
    background: red;
    box-shadow:0 0 50px red
}

.blue {
    background: blue;
    box-shadow:0 0 50px blue
}

.green {
    background: green;
    box-shadow:0 0 50px green;
}

/* ###################################################### */
/* ############# Interval Time Input Range ############## */
/* ###################################################### */

input[type=range] {
    width: 50%;
    -webkit-appearance: none;
    background: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
}

input[type=range]::-ms-track {
    width: 50%;
    cursor: pointer;

    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    margin-top: -14px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
    box-shadow:0 0 50px white /* Add cool effects to your sliders! */
  }

input[type=range]::-moz-range-thumb {
box-shadow:0 0 50px white;
border: 1px solid #000000;
height: 36px;
width: 16px;
border-radius: 3px;
background: #ffffff;
cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
box-shadow:0 0 50px white;
border: 1px solid #000000;
height: 36px;
width: 16px;
border-radius: 3px;
background: #ffffff;
cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow:0 0 50px black;
    background: white;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
  }
  
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow:0 0 50px black;
    background: white;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
  }
  
  input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #2a6495;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow:0 0 50px black;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: white;
  }
  input[type=range]::-ms-fill-upper {
    background: white;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow:0 0 50px black;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: white;
  }

