<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Vinyl</title>
</head>
<body>
    Add Vinyls
    <form method="POST" action="/add-record">
        <label for="artistName">Artist:</label><br>
        <input type="text" id="artistName" name="artistName" required><br>
        
        <label for="albumName">Album:</label><br>
        <input type="text" id="albumName" name="albumName" required><br>
        
        <label for="year">Year:</label><br>
        <input type="text" id="year" name="year" required><br>

        <input type="submit" value="Submit Record">
    </form>
</body>
</html>